<section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col" >
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" routerLink= '/transfer' role="tab" aria-controls="nav-home" >Transfer money(imps)</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" routerLink= '/neft' role="tab" aria-controls="nav-profile" >NEFT</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">RTGS</a>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
