
<section id="tabs" class="project-tab ">
        <div class="container ">
            <div class="row">
                <div class="col" width = "">
                    <nav class="">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" routerLink= '/summary' role="tab" aria-controls="nav-home" aria-selected="true">Summary</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" routerLink = "/account-activity"  aria-controls="nav-profile" aria-selected="false">Account activity</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
</section>