<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row">
            <div class="col" width = "100%">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-all-users" data-toggle="tab" href="#nav-home" routerLink= '/all-users' role="tab" aria-controls="nav-home" aria-selected="true">All Users</a>
                        <a class="nav-item nav-link" id="nav-overall-transactions" data-toggle="tab" href="#nav-profile" routerLink= '/overall-transactions'role="tab" aria-controls="nav-profile" aria-selected="false">Overall Transaction</a>
                        <a class="nav-item nav-link" id="nav-pending-approval" data-toggle="tab" href="#nav-profile" role="tab" routerLink='/pending-accounts' aria-controls="nav-profile" aria-selected="false">pending account creation </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
