<p>create-account works!</p>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create a user account </div>
                    <div class="card-body">
                        <form action="" method="">
                                <div class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">Account number</label>
                                        <div class="col-md-6">
                                            <input  type="text" placeholder="Account number" class="form-control" name="account_no" required>
                                        </div>
                                    </div>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Account type</label>
                                <div class="col-md-6">
                                    <input type="text"  placeholder="email" class="form-control" name="email" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Rate of interest</label>
                                <div class="col-md-6">
                                    <input type="text"  placeholder="phone number" class="form-control" name="phone_no" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password"  placeholder="enter a unique password"  class="form-control" name="password" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Account preferences</label>
                                <div class="col-md-6">
    
                                    <select class="form-control"  name = 'account_preferences' placeholder="account_preferences" class="form-control" required autofocus>
                                        <option class="acc-options">current</option>
                                        <option class="acc-options">savings</option>
                                        <option class="acc-options">Both</option>
                                     </select>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit"  class="btn btn-primary">
                                    Register
                                </button>
                                
                            </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>



